<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:text ="${product.productId}"></div>
    <div th:text ="${product.name}"></div>
    <div th:text ="${product.description}"></div>
    <div th:text ="${product.unit}"></div>
    <div th:text ="${product.manufacturerName}"></div>
    <div th:text ="${product.status}"></div>
    <table>
            <tr th:each="pp:${productPrices}">
                <td th:text="${pp.getPriceDateTime}"></td>
                <td th:text="${pp.getPrice}"></td>
                <td th:text="${pp.note}"></td>
            </tr>


    </table>




</body>
</html>